html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15% 5fr;
    grid-template-areas:
    "header header"
    "content sidebar";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}